
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
.hotelsName {
    font-family:cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}