@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.anime-text {
    font-family:fantasy;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}