@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.anime-text {
    font-family:cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.animation{
    width: 500px;
    margin-top: 200px;
    
}